<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Rob Wilkerson</string>
	<key>CFBundleDisplayName</key>
	<string>FlickrPlus</string>
	<key>CFBundleIdentifier</key>
	<string>org.robwilkerson.safari.flickrplus</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.6.4</string>
	<key>CFBundleVersion</key>
	<string>7</string>
	<key>Chrome</key>
	<dict/>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>js/jquery-1.4.2.min.js</string>
				<string>links.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>flickrplus.css</string>
		</array>
	</dict>
	<key>Description</key>
	<string>A collection of tools designed to improve the Flickr experience.</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>*.flickr.com</string>
				<string>flickr.com</string>
			</array>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://robwilkerson.org/_resources/projects/safari/extensions/FlickrPlus-update.plist</string>
	<key>Website</key>
	<string>http://codaset.com/robwilkerson/flickrplus/wiki/home</string>
</dict>
</plist>
