.truncate
, .trunc {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 95%;
}

/**
 * Classes applied to create the "card"
 */
.card {
	-webkit-transition-property: -webkit-transform;
	-webkit-transform-style: preserve-3d;
	-webkit-transition: 1.5s;
}

.card.flipped {
	cursor: pointer;
	-webkit-transform: rotateY(180deg);
}
.face {
	position: relative;
	-webkit-backface-visibility: hidden;
}
.front {
	
}
.back {
	-webkit-transform: rotateY(180deg);
}

/** Modify a few Flickr DOM classes */
#photo {
	position: relative;
	-webkit-perspective: 2500;
}
#photo-drag-proxy.flipped {
	display: none;
}

/**
 * The "info" icon
 */
#exif-trigger {
	bottom: 0;
	cursor: pointer;
	display: block;
	margin: 0 10px 10px 0;
	position: absolute;
	right: 0;
	z-index: 1000;
}
#exif-trigger.flipped {
	display: none;
}

/**
 * The table displaying the exif info
 */
#exif-wrapper {
	background: #333;
	border: 2px solid #000;
	border-radius: 10px;
	color: #aaa;
	position: absolute;
	right: 0;
	top: 0;
}
	#exif-wrapper table {
		border: none;
		margin: auto;
		margin-top: 25px;
	}
		#exif-wrapper table caption {
			border-bottom: 1px solid #fff;
			color: #fff;
			font-size: 125%;
			font-weight: bold;
		}
		#exif-wrapper table tr {
			border-bottom: 1px solid #aaa;
		}
		#exif-wrapper table td {
			padding: 3px 0 !important;
		}
		#exif-wrapper table td.label {
			padding-right: 25px !important;
		}
		#exif-wrapper table td.value {
			padding-left: 25px !important;
		}
